.app-leave-status {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem 5rem 1rem;

    button {
        background-color: #005cbb;
        color: white;
        border: none;
        border-radius: 5px;
        width: 50%;
        margin-right: -2.5rem;
    }
}

.leave-table {
    flex-direction: column;
    table th {
        color: #005cbb;
        text-align: center; 
        white-space: nowrap;
    }

}

.leave-title {
    display: flex;
    justify-content: space-between;
}