.holiday {
    padding: 20%;
    color: #005cbb;
}

.date {

}

table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Remove default spacing between cells */
}

tbody {
    background-color: #f9f9f9;
}

th, td {
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
}

th {
    background-color: #f9f9f9; /* Light gray background for header */
    font-weight: bold; /* Make header text bold */
}

tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

/* Remove borders */
th, td {
    border: none; /* No border */
}
