<div class="card">
    <p class="title">Up Coming Holidays</p>
    <!-- <ul>
      <li><span class="date">February 14, 2024</span><span class="holiday"> Valentine’s Day</span></li>
      <li><span class="date">Friday, March 8, 2024</span><span class="holiday">Maha Shivaratri</span></li>
      <li><span class="date">Tuesday, April 9, 2024</span><span class="holiday">Ugadi</span></li>
      <li><span class="date">Thursday, April 7, 2024</span><span class="holiday">Maha Shivaratri</span></li>
      <li><span class="date">Monday, June 17, 2024</span><span class="holiday">Bakrid/Eid ui-Adha</span></li> 
      <li><span class="date">Thursday, August 22, 2024</span><span class="holiday">Jagjivan</span></li>
      <li><span class="date">Sunday, September 8, 2024</span><span class="holiday">Ganesh Chaturthi</span></li>
    </ul> -->

    <table>
      <tbody>
          <tr>
              <td><span class="date">February 14, 2024</span></td>
              <td><span class="holiday">Valentine’s Day</span></td>
          </tr>
          <tr>
              <td><span class="date">Friday, March 8, 2024</span></td>
              <td><span class="holiday">Maha Shivaratri</span></td>
          </tr>
          <tr>
              <td><span class="date">Tuesday, April 9, 2024</span></td>
              <td><span class="holiday">Ugadi</span></td>
          </tr>
          <tr>
              <td><span class="date">Thursday, April 7, 2024</span></td>
              <td><span class="holiday">Maha Shivaratri</span></td>
          </tr>
          <tr>
              <td><span class="date">Monday, June 17, 2024</span></td>
              <td><span class="holiday">Bakrid/Eid ui-Adha</span></td>
          </tr>
          <tr>
              <td><span class="date">Thursday, August 22, 2024</span></td>
              <td><span class="holiday">Jagjivan</span></td>
          </tr>
          <tr>
              <td><span class="date">Sunday, September 8, 2024</span></td>
              <td><span class="holiday">Ganesh Chaturthi</span></td>
          </tr>
          <!-- More holidays as needed -->
      </tbody>
  </table>
  
  </div>
  