<div class="card row-container">
    <!-- <img src="path-to-image" alt="Employee Image" class="employee-img"> -->
    <div class="content-box">
        <div class="emp-title">
            <mat-icon>person</mat-icon>
            <p>MCLL00000 | Full Time Employee</p>
        </div>
        <p>Role: Accountant</p>
        <p>Mobile: +1 456-787-6556</p>
        <p>Email: macyslimited&#64;gmail.com</p>
        <p>Address: 259th street, Kom...</p>
        <p>Resume: <button>Upload </button></p>
    </div>
    <div class="content-box">
        <app-leave-status></app-leave-status>
    </div>
  </div>
  